In [9]:
import pandas  as pd
x=pd.read_csv('data.csv',header=None)
head=['data',]
x.columns=head

In [10]:
x

   data
0     1
1    29
2    68
3    45
4    21
5    23
6    59
7    12

In [11]:
#k=2
c1=12
c2=17

In [12]:
#distance formula |x-c|
c1_=-1
c2_=-1
cluster1=[]
cluster2=[]
while(c1!=c1_ and c2!=c2_):
    sum=0
    cluster1=[]
    cluster2=[]
    for v in x["data"]:
        y=v-c1
        z=v-c2
        if(y<0):
            y=y*-1
        if(z<0):
            z=z*-1
        if(z==y):
            if(len(cluster1)==len(cluster2)):
                cluster1=cluster1+[v]
            elif(len(cluster1)<=len(cluster2)):
                cluster1=cluster1+[v]
            else:
                cluster2=cluster2+[v]
        else:
            if(y<z):
                cluster1=cluster1+[v]
            else:
                cluster2=cluster2+[v]
                
    for k in cluster1:
        print(k, end=" ")
        sum=sum+k
    print("\n")
    if(len(cluster1)!=0 ):
        c1_=sum/len(cluster1)
    else:
        c1_=0
        
    sum=0
    
    for k in cluster2:
        print(k, end=" ")
        sum=sum+k
    print("\n")
    if(len(cluster2)!=0 ):
        c2_=sum/len(cluster2)
    else:
        c2_=0
    print(c1," ",c1_)
    print(c2," ",c2_)
    if(c1_==c1 and c2_==c2):
        break;
    else:
        c1=c1_
        c2=c2_
        c1_=-1
        c2_=-1

1 12

29 68 45 21 23 59

12   6.5
17   40.833333333333336
1 21 23 12

29 68 45 59

6.5   14.25
40.833333333333336   50.25
1 29 21 23 12

68 45 59

14.25   17.2
50.25   57.333333333333336
1 29 21 23 12

68 45 59

17.2   17.2
57.333333333333336   57.333333333333336